---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/sections/Hero.astro";

const pageTitle = "myClawTeam";
---

<BaseLayout title={pageTitle}>
  <main>
    <Hero />
  </main>
</BaseLayout>
